{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>快手ID</p>
            </div>
            <div class="weui-cell__ft">{{ request.user.userid }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>积分</p>
            </div>
            <div class="weui-cell__ft">{{ request.user.integral }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>信誉值</p>
            </div>
            <div class="weui-cell__ft">{{ request.user.credit }}</div>
        </div>
    </div>


    <div id="btn">
        <button class="weui-btn weui-btn_primary" id="hufen_start">开始互粉</button>
        <button class="weui-btn weui-btn_primary" id="hufen_history">互粉历史列表</button>
        {#    <button class="weui_btn weui_btn_warn" id="delete_record">清除互粉记录</button>#}
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static "js/gifshow.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hufen.js" %}"></script>
{% endblock %}